.container {
  display: grid;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 64px 1fr;
  grid-template-columns: 1fr 10fr;
}

body {
  background-color: #f1f5f8;
}

.content {
  grid-area: c;
  background-color: #f1f5f8;
  height: max-content;
  font-family: 'DM Sans', sans-serif;
}
