.content {
    grid-area: c;
  }
    
  .content img {
    width: 100%;
  }
  
  .item {
    color: rgb(3, 3, 3);
    background-color: rgb(167, 164, 164);
    margin: 5px;
    border-radius: 4px;
  }
  
.item img {
  width: 50px;
}