.nav {
    grid-area: n;
    background-color: rgb(27, 28, 30);
    margin-right: 4px;
    height: 100ch;
    border-top-right-radius: 8px;
    padding-top: 20px;
  }

.item  {
  font-size: 18px;
  margin: 5px 10px 5px 10px;
  border-radius: 3px;
  padding: 4px;
  font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: white;
}

.item .active{
    font-size: 18px;
    margin: 5px 10px 5px 10px;
    border-radius: 3px;
    padding: 4px;
    font-family: 'DM Sans', sans-serif;
    color: #0074fe;
    text-decoration: none;
}
.itemSettings {
    font-size: 18px;
    margin: 40px 10px 5px 10px;
    border-radius: 3px;
    padding: 4px;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: white;
}
.itemSettings .active{
    font-size: 18px;
    margin: 5px 10px 5px 10px;
    border-radius: 3px;
    padding: 4px;
    font-family: 'DM Sans', sans-serif;
    color: #0074fe;
    text-decoration: none;
}